@page "/playlist/{PlaylistId:long}"
@attribute [Authorize]

@using Chinook.ClientMappings;
@using Chinook.Models
@using Chinook.ClientModels
@using Chinook.Repositories.Interfaces;
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;
@inject IPlaylistRepository _playlistRepository;
@inject ITrackRepository _tracksRepository;
@inject IUserPlaylistRepository _userplaylistRepository;

<h1>Playlist <strong>@Playlist.Name</strong></h1>

@if (!string.IsNullOrWhiteSpace(InfoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @InfoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (Playlist == null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Track</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Playlist.Tracks)
            {
                <tr>
                    <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                    <td>
                        <div class="d-flex">
                            @if (Playlist.Name != "Favorite")
                            {
                                @if (track.IsFavorite)
                                {
                                    <a href="#" class="m-1" title="Unark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                                }
                                else
                                {
                                    <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                                }

                            }
                            <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public long PlaylistId { get; set; }
    [Inject] IDbContextFactory<ChinookContext> DbFactory { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    private Chinook.ClientModels.Playlist Playlist;
    private string CurrentUserId;
    private string InfoMessage;

    protected override async Task OnInitializedAsync()
    {
        CurrentUserId = await GetUserId();

        await InvokeAsync(StateHasChanged);
        var DbContext = await DbFactory.CreateDbContextAsync();

        Playlist = PlaylistMapping.Map(_playlistRepository.GetPlaylistById(PlaylistId), CurrentUserId);

    }

    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    private void FavoriteTrack(long trackId)
    {
        var track = Playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);
        InfoMessage = $"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} added to playlist Favorites.";

        AddToFavourites(trackId);
    }

    private void AddToFavourites(long trackId)
    {
        var track = _tracksRepository.GetTracksByÌd(trackId);
        var favouritePlaylist = _playlistRepository.GetFavouritePlaylist(CurrentUserId).FirstOrDefault();

        if (favouritePlaylist is not null)
        {
            AddToFavourites(favouritePlaylist, track);

        }
        else
        {
            CreateFavouritePlaylist(track);
        }
    }

    private void AddToFavourites(Models.Playlist favouritePlaylist, Models.Track track)
    {
        _playlistRepository.AddToFavourites(CurrentUserId, track);
    }

    private void CreateFavouritePlaylist(Track track)
    {
        Random random = new Random();
        long playlistId = random.NextInt64();

        UserPlaylist userPlaylist = UserPlaylistMapping.Map(CurrentUserId, playlistId);
        _userplaylistRepository.AddNewUserPlaylist(userPlaylist, track);
    }
    private void AddTrackToPlaylist(UserPlaylist userPlaylist, Track track)
    {
        _userplaylistRepository.AddTrackToPlaylist(userPlaylist, track);
    }

    private void UnfavoriteTrack(long trackId)
    {
        var track = Playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);

        RemoveFromFavourities(trackId);
        InfoMessage = $"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} removed from playlist Favorites.";
    }

    private void RemoveFromFavourities(long trackId)
    {
        var favouritePlaylist = _playlistRepository.GetFavouritePlaylist(CurrentUserId).FirstOrDefault();
        var track = _tracksRepository.GetTracksByÌd(trackId);
        if (favouritePlaylist is not null)
        {
            _playlistRepository.RemoveFromFavourites(track, CurrentUserId);
        }

    }
    private void RemoveTrack(long trackId)
    {
        CloseInfoMessage();

        var track = _tracksRepository.GetTracksByÌd(trackId);
        var playlistid = _playlistRepository.GetPlaylistById(PlaylistId).FirstOrDefault();
        _playlistRepository.RemoveFromPlaylist(PlaylistId, track);
        
        OnInitializedAsync();

    }

    private void CloseInfoMessage()
    {
        InfoMessage = "";
    }

}
